/* ---Fonts--- */

@import url("https://fonts.googleapis.com/css2?family=Arima:wght@200&family=Gentium+Book+Plus&display=swap");

@import "variables";

@import "normalizacion";

/* Caracteristicas del HEAD para el Menu de Bootstrap */

.head__color {
  background-image: linear-gradient(
    to top,
    #363636,
    #474454,
    #575374,
    #686296,
    #7a71b8,
    #7483d1,
    #6996e9,
    #54aaff,
    #00c2ff,
    #00d7ff,
    #08eafd,
    #5ffbf1
  );
}

.head__font-size {
  font-size: $text-medium;
}

/* Caracteristicas titulo Productos y contacto */
.head__font-color {
  color: red;
}

/* Footer */

footer {
  background-image: linear-gradient(
    to bottom,
    #363636,
    #474454,
    #575374,
    #686296,
    #7a71b8,
    #7483d1,
    #6996e9,
    #54aaff,
    #00c2ff,
    #00d7ff,
    #08eafd,
    #5ffbf1
  );
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: $spacing-small 0;
  border-top: 2px solid $secondary;
  
  .footer {
    &__img {
      max-width: 60px;
      align-items: center;
    }
    &__iframe {
      max: {
        width: 120px;
        height: 70px;
      }
    }
  }
}

/* container_index */

.container_index {
  width: 100%;
  max-width: 1200px;
  display: flex;
  margin: auto;

  margin: {
    top: 0px;
    bottom: 0px;
  }

  &__section_1 {
    border-left: 2px solid $secondary;
  }
  &__section_2 {
    background-color: rgb(181, 180, 180);
    padding: {
      left: 3rem;
      right: 3rem;
    }
    border: {
      left: 2px solid $secondary;
      right: 2px solid $secondary;
    }
  }
  &__section_2:hover {
    background-color: #00d7ff;
  }
  &__box_title {
    font: {
      family: $font-title;
      size: $text-medium;
    }
    color: $primary;
  }
  &__box_subtitle {
    margin-top: 0.6rem;
    color: $secondary;
    font-size: $text-small;
  }
  &__box_text {
    margin-top: 1rem;
    color: $text-color;
    font-size: $text-base;
  }
}

/* Transformacion fotografo index */

.efecto_fotografo {
  width: 400px;
  height: 35vh;
  background: {
    image: url(../assets/img/fotografo_1.jpg);
    size: cover;
  }
  &:hover {
    background-image: url(../assets/img/fotografo2.jpeg);
  }
}

/* container_contacto (formulario con Bootstrap) */

/* Color boton enviar en formulario */
.color_button {
  color: #00d7ff;
  background-color: blueviolet;
}

/* container_nosotros */

.container_nosotros {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  margin: {
    top: 0px;
    bottom: 0px;
  }

  &__banner {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    text-align: left;
    background: {
      image: url(../assets/img/nosotros.jpeg);
      attachment: fixed;
      size: cover;
    }
    border: {
      left: 2px solid $secondary;
      right: 2px solid $secondary;
    }
  }

  &__banner_descripcion {
    width: 90%;
    max-width: 1200px;
    display: block;
    margin: auto;
    font: {
      family: $font-title;
      size: $text-large;
    }
    color: rgb(248, 9, 45);
  }

  &__banner_text {
    font: {
      family: $font-principal;
      size: $text-medium;
    }
    border-top: 2px solid $secondary;
    padding-top: 2rem;
  }
}

/* container_productos */

.container_productos {
  width: 100%;
  height: auto;
  max-width: 1200px;
  padding-bottom: 20px;
  margin: auto;
  margin: {
    top: 0px;
    bottom: 0px;
  }
  font: {
    family: $font-principal;
    size: $text-medium;
  }
  
  &__titulo_caracteristicas {
    font: {
      family: $font-title;
      size: $spacing-medium;
    }
    color: $secondary;
  }
}

/* container_fotografias y Gallery */

.container_fotografias {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: $spacing-small;

  &__info {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin: {
      top: 60px;
      bottom: 60px;
    }
    display: flex;
    align-items: center;
  }
  &__info_img {
    flex: 1 1 50%;
  }
  &__info_box {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    padding: $spacing-large;
  }
  &__info_title {
    font: {
      size: $text-large;
      family: $font-title;
    }
    color: $primary;
  }
  &__info_description {
    font: {
      size: $text-medium;
      weight: 600;
    }
  }
  &__gallery {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin: {
      top: 60px;
      bottom: 60px;
    }
    display: grid;
    grid: {
      template-columns: repeat(3, 1fr);
      template-rows: 250px;
      gap: 20px;
    }
  }
  &__gallery .container_fotografias__gallery_img picture {
    width: 100%;
    height: 100%;
  }
  &__gallery .container_fotografias__gallery_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__gallery .container_fotografias__gallery_img:nth-child(1) {
    grid-column-start: span 2;
  }
  &__gallery .container_fotografias__gallery_img:nth-child(4) {
    grid-row-start: span 2;
  }
  &__gallery .container_fotografias__gallery_img:nth-child(9) {
    grid-column-start: span 2;
  }
}

/* Medias queries */
@import "medias_queries"



