<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/img/silla_director.png" type="image/x-icon">
    <title>Contacto</title>
    <link rel="stylesheet" href="../estilos.css">
</head>

<body>
    <!-- -----Inicio Header------- -->
    <header>
        <div>
            <a href="../index.html"> <img class="header_img" src="../assets/img/silla_director.png" alt="silla">
            </a>
            <h1 class="header_title">MAGIC ESTUDIO</h1>
        </div>
        <nav class="navigation">
            <ul class="menu">
                <li class="menu_item"> <a class="menu_link" href="../index.html">Home</a> </li>
                <li class="menu_item"> <a class="menu_link" href="../views/nosotros.html">Nosotros</a> </li>
                <li class="menu_item"> <a class="menu_link" href="../views/productos.html">Productos</a> </li>
                <li class="menu_item"> <a class="menu_link" href="../views/contacto.html">Contacto</a> </li>
                <li class="menu_item"> <a class="menu_link" href="../views/fotografias.html">Fotografias</a> </li>
            </ul>
        </nav>  
    </header>

     <!-- ----Fin Header----- -->

     <main class="container_contacto">
        <section class="contenido_contacto">
            <div class="formulario">
    <h2>Contacto</h2>
    <form>
        <fieldset>
            <legend> Datos de contacto</legend>
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre" placeholder="Ingresa tu nombre" required>
            <br>
            <br>
            <label for="apellido">Apellido</label>
            <input type="text" name="apellido" id="apellido" placeholder="Ingresa tu apellido" required>
            <br>
            <br>
            <label for="correo">Correo electronico</label>
            <input type="email" name="correo" id="correo" placeholder="Ingresa tu email" required>
            <br>
            <br>
            <label for="consulta">Consulta</label>
            <br>
            <textarea name="consulta" id="consulta" cols="30" rows="10" maxlength="300"></textarea>
            <br>
            <br>
            <input type="submit" value="Enviar datos">
            <input type="reset" value="Limpiar">


        </fieldset>
    </form>
</div>
</section>
</main>

    <footer class="flex">
        <div>
            <iframe class="footer_iframe"
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15931.646251901733!2d-76.5394458!3d3.3717925!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3543b74a3e50b507!2sHolguines%20Trade%20Center%20Centro%20Comercial!5e0!3m2!1ses!2sco!4v1654793519878!5m2!1ses!2sco"
                style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>

            <img class="footer_img" src="../assets/img/logo_facebook.png" alt=""> <img class="footer_img"
                src="../assets/img/logo_instagram.png" alt=""> <img class="footer_img"
                src="../assets/img/logo_whatsapp.png" alt=""> <img class="footer_img"
                src="../assets/img/logo_youtube.png" alt="">
        </div>
    </footer>
</body>

</html>