<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/img/silla_director.png" type="image/x-icon">
    <title>Fotografias</title>
    <link rel="stylesheet" href="../estilos.css">
</head>

<body>
    <!-- -----Inicio Header------- -->
    <header>
        <div>
            <a href="../index.html"> <img class="header_img" src="../assets/img/silla_director.png" alt="silla">
            </a>
            <h1 class="header_title">MAGIC ESTUDIO</h1>
        </div>
        <nav class="navigation">
            <ul class="menu">
                <li class="menu_item"> <a class="menu_link" href="../index.html">Home</a> </li>
                <li class="menu_item"> <a class="menu_link" href="../views/nosotros.html">Nosotros</a> </li>
                <li class="menu_item"> <a class="menu_link" href="../views/productos.html">Productos</a> </li>
                <li class="menu_item"> <a class="menu_link" href="../views/contacto.html">Contacto</a> </li>
                <li class="menu_item"> <a class="menu_link" href="../views/fotografias.html">Fotografias</a> </li>
            </ul>
        </nav>
    </header>

    <!-- ----Fin Header----- -->
    
    <main id="container_fotografias" class="container_fotografias">
        <section id="info" class="info">
            <picture class="info_img">
                <img src="../assets/img/frida.jpeg" alt="">
            </picture>
            <article class="info_box">
                <h2 class="info_title"> FOTOGRAFIAS</h2>
                <p class="info_description">
                    El principal valor de la fotografía, reside en aquel valor documental, es decir la similitud que se genera entre la realidad que presenta el documento fotográfico y   la realidad misma.
                </p>
            </article>
        </section>


        <section class="gallery" id="gallery">


            <picture class="gallery_img">
                <img src="../assets/img/byn.jpg" alt="byn">
            </picture>

            <picture class="gallery_img">
                <img src="../assets/img/c1.JPG" alt="c1">
            </picture>

            <picture class="gallery_img">
                <img src="../assets/img/o2.jpg" alt="02">
            </picture>

            <picture class="gallery_img">
                <img src="../assets/img/xoximilco.jpeg" alt="xoximilco">
            </picture>

            <picture class="gallery_img">
                <img src="../assets/img/o1.JPG" alt="corazon del mar">
            </picture>

            <picture class="gallery_img">
                <img src="../assets/img/coyoacan.jpeg" alt="coyoacan">
            </picture>

            <picture class="gallery_img">
                <img src="../assets/img/piramide.jpeg" alt="piramide">
            </picture>

            <picture class="gallery_img">
                <img src="../assets/img/c2.JPG" alt="c2">
            </picture>

            <picture class="gallery_img">
                <img src="../assets/img/jardin_frida.jpeg" alt="jardin">
            </picture>

        </section>
    </main>

    <footer class="flex">
        <div>
            <iframe class="footer_iframe"
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15931.646251901733!2d-76.5394458!3d3.3717925!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3543b74a3e50b507!2sHolguines%20Trade%20Center%20Centro%20Comercial!5e0!3m2!1ses!2sco!4v1654793519878!5m2!1ses!2sco"
                style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>

            <img class="footer_img" src="../assets/img/logo_facebook.png" alt=""> <img class="footer_img"
                src="../assets/img/logo_instagram.png" alt=""> <img class="footer_img"
                src="../assets/img/logo_whatsapp.png" alt=""> <img class="footer_img"
                src="../assets/img/logo_youtube.png" alt="">
        </div>
    </footer>

</body>

</html>