<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/img/silla_director.png" type="image/x-icon">
    <title>Nosotros</title>
    <link rel="stylesheet" href="../estilos.css">

</head>

<body>
<!-- Inicio del header -->
    <header>
        <div>
            <a href="../index.html"> <img class="header_img" src="../assets/img/silla_director.png" alt="silla">
            </a>
            <h1 class="header_title">MAGIC ESTUDIO</h1>
        </div>
        <nav class="navigation">
            <ul class="menu">
                <li class="menu_item"> <a class="menu_link" href="../index.html">Home</a> </li>
                <li class="menu_item"> <a class="menu_link" href="../views/nosotros.html">Nosotros</a> </li>
                <li class="menu_item"> <a class="menu_link" href="../views/productos.html">Productos</a> </li>
                <li class="menu_item"> <a class="menu_link" href="../views/contacto.html">Contacto</a> </li>
                <li class="menu_item"> <a class="menu_link" href="../views/fotografias.html">Fotografias</a> </li>
            </ul>
        </nav>
    </header>

    <!-- Fin del header -->


<main class="container_nosotros">
   
    <div class="banner__nosotros">
        <div class="banner__nosotros--descripcion">
            <h1>NOSOTROS</h1>
            <h2>
                “Fotografiar es colocar la cabeza, el ojo y el corazón en un mismo eje”. Henri Cartier-Bresson
            </h2>
        </div>
    </div>

    <section class="nosotros_text">
        Magic Estudio es una empresa ubicada en la ciudad de Cali-Colombia, dedicada a la producción de fotos y videos, contamos con un equipo humano idóneo para brindar a nuestros clientes una experiencia satisfactoria. Empleamos equipos técnicos que nos permiten lograr resultados óptimos en nuestros productos. Nuestra objetivo es poner el mundo de la fotografía y el video a alcance de todos, con sesiones en interiores o exteriores dependiendo la necesidad del cliente, ademas de un servicio de edición que mantiene un estándar de calidad uniforme y vanguardista.</section>

    </main>
    <footer class="flex">
        <div>
            <iframe class="footer_iframe"
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15931.646251901733!2d-76.5394458!3d3.3717925!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3543b74a3e50b507!2sHolguines%20Trade%20Center%20Centro%20Comercial!5e0!3m2!1ses!2sco!4v1654793519878!5m2!1ses!2sco"
                style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>

            <img class="footer_img" src="../assets/img/logo_facebook.png" alt=""> <img class="footer_img"
                src="../assets/img/logo_instagram.png" alt=""> <img class="footer_img"
                src="../assets/img/logo_whatsapp.png" alt=""> <img class="footer_img"
                src="../assets/img/logo_youtube.png" alt="">
        </div>
    </footer>

</body>

</html>