<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="sesion de fotos, sesion de video, edicion de foto, edicion de video, Cali, Colombia">
    <meta name="description" content="Tenemos paquetes que van desde fotos y videos individuales hasta sesiones profesionales y edicion de fotografia y video.">

    <link
      rel="shortcut icon"
      href="../assets/img/silla_director.png"
      type="image/x-icon"
    />
    <title>Productos Magic Estudio</title>
   
    <!-- CSS BOOTSTRAP only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

  <!-- CSS PROPIO -->
    <link rel="stylesheet" href="../CSS/estilos.css" />


    <!-- INICIO HEADER BOOTSTRAP -->

<header>
  <nav class="navbar navbar-expand-lg head__color">
      <div class="container-fluid">
        <a class="navbar-brand" href="../index.html"> <img src="../assets/img/logo_magic_estudio.png" alt="logo"  height="120px"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active head__font-size" aria-current="page" href="../index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link head__font-size" href="./nosotros.html">Nosotros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link head__font-size" href="./productos.html">Productos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link head__font-size" href="./contacto.html">Contacto</a>
            </li>
            <li class="nav-item">
              <a class="nav-link head__font-size" href="./fotografias.html">Fotografias</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>
  </header>

  <!-- -----FIN HEADER BOOTSTRAP--------- -->

    <main class="container_productos">
     
      <!-- INICIO CAROUSEL CON BOOTSTRAP -->
      <section container-fluid>
        <h1 class="container_productos__titulo_caracteristicas text-center"> Productos</h1>
        <div id="carouselExampleCaptions" class="carousel slide carousel-fade container-fluid" data-bs-ride="false">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../assets/img/producto_foto_video_individual.jpg" class="d-block w-100" alt="foto o video individual">
              <div class="carousel-caption">
                <h2>FOTO O VIDEO INDIVIDUAL</h2>
                <p>  Entre 1 y 4 fotografias en formato raw o jpg tiene un valor de $US
                  20 y un video de 30 segundos de duración en formato raw o mp4 tiene un valor $US 25.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="../assets/img/productos_foto_video_sesion.jpg" class="d-block w-100" alt="sesiones">
              <div class="carousel-caption">
                <h2>SESION DE FOTOS O VIDEO</h2>
                <p> Cada sesion de fotos o de video de 2 horas de duración tiene un
                  valor de $US 100, las fotografias se entregan en formato raw o jpg y
                  el video en formato raw o mp4. Nota: El maximo de
                  fotografias por sesion es de 50 fotografias o 30 minutos de video,
                  sin editar.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="../assets/img/producto_edicion.jpg" class="d-block w-100" alt="edicion">
              <div class="carousel-caption">
                <h2>SESION DE FOTOS O VIDEO MAS EDICION</h2>
                <p> La sesion de 2 horas de fotos o videos mas la edicion de las
                  fotografias o el video tiene un valor de $US 150.
                  Nota: La cantidad maxima de fotografias sera de 30
                  fotografias y la extension maxima del video sera de 5:00 minutos.</p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div class="espacio_vacio">

        </div>
      </section>

    </main>
    <footer class="flex">
      <div>
        <h3 class="container_index__box_title">Telefono: 057-602-5551066</h3>
        <h3 class="container_index__box_title">Direccion: Cra. 100 #11-60, Cali, Valle del Cauca</h3>
        </div>
     <div>
        <iframe
          class="footer__iframe"
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15931.646251901733!2d-76.5394458!3d3.3717925!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3543b74a3e50b507!2sHolguines%20Trade%20Center%20Centro%20Comercial!5e0!3m2!1ses!2sco!4v1654793519878!5m2!1ses!2sco"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
        <div>
        <img class="footer__img" src="../assets/img/facebook.png" alt="facebook"> <img class="footer__img"
        src="../assets/img/instagram.png" alt="instagram"> <img class="footer__img"
        src="../assets/img/whatsapp.png" alt="whatsapp"> <img class="footer__img"
        src="../assets/img/yt.png" alt="youtube">
      </div>
    </footer>

    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>
