<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="../assets/img/silla_director.png"
      type="image/x-icon"
    />
    <title>Productos</title>
    <link rel="stylesheet" href="../estilos.css" />

    <!-- Inicio del header -->
  </head>

  <body>
    <header>
      <div>
        <a href="../index.html">
          <img
            class="header_img"
            src="../assets/img/silla_director.png"
            alt="silla"
          />
        </a>
        <h1 class="header_title">MAGIC ESTUDIO</h1>
      </div>
      <nav class="navigation">
        <ul class="menu">
          <li class="menu_item">
            <a class="menu_link" href="../index.html">Home</a>
          </li>
          <li class="menu_item">
            <a class="menu_link" href="../views/nosotros.html">Nosotros</a>
          </li>
          <li class="menu_item">
            <a class="menu_link" href="../views/productos.html">Productos</a>
          </li>
          <li class="menu_item">
            <a class="menu_link" href="../views/contacto.html">Contacto</a>
          </li>
          <li class="menu_item">
            <a class="menu_link" href="../views/fotografias.html"
              >Fotografias</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <!-- Fin del header -->

    <main class="container_productos">
      <section>
        <h2 class="productos_title">Productos</h2>

        <dl>
          <dt class="productos_subtitle">FOTO O VIDEO INDIVIDUAL</dt>
          <dd>
            Entre 1 y 4 fotografias en formato raw o jpg tiene un valor de $US
            20 y un video de 30 sgds de duración en formato raw o mov4 tiene un
            valor $US 25.
          </dd>

          <dt class="productos_subtitle">SESION DE FOTOS O VIDEO</dt>
          <dd>
            Cada sesion de fotos o de video de 2 horas de duración tiene un
            valor de $US 100, las fotografias se entregan en formato raw o jpg y
            el video en formato raw o mov4. <strong>Nota:</strong> El maximo de
            fotografias por sesion es de 50 fotografias o 30 minutos de video,
            sin editar
          </dd>

          <dt class="productos_subtitle">SESION DE FOTOS O VIDEO MAS EDICION</dt>
          <dd>
            La sesion de 2 horas de fotos o videos mas la edicion de las
            fotografias o el video tiene un valor de $US 150.
            <strong>Nota:</strong> La cantidad maxima de fotografias sera de 30
            fotografias y la extension maxima del video sera de 5:00 minutos.
          </dd>
        </dl>
      </section>
    </main>
    <footer class="flex">
      <div>
        <iframe
          class="footer_iframe"
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15931.646251901733!2d-76.5394458!3d3.3717925!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3543b74a3e50b507!2sHolguines%20Trade%20Center%20Centro%20Comercial!5e0!3m2!1ses!2sco!4v1654793519878!5m2!1ses!2sco"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>

        <img class="footer_img" src="../assets/img/logo_facebook.png" alt="" />
        <img class="footer_img" src="../assets/img/logo_instagram.png" alt="" />
        <img class="footer_img" src="../assets/img/logo_whatsapp.png" alt="" />
        <img class="footer_img" src="../assets/img/logo_youtube.png" alt="" />
      </div>
    </footer>
  </body>
</html>
