/* PRODUCTOS */
/* container_productos */

.container_productos {
    @extend .repetitive_features;
  
    height: auto;
    padding-bottom: 20px;
    
  
    font: {
      family: $font-principal;
      size: $text-medium;
    }
    
    &__titulo_caracteristicas {
      font: {
        family: $font-title;
        size: $text-medium;
      }
      color: $secondary;
    }
  }

  .espacio_vacio{
    width: 90%;
    height: 2.5rem;
  }