/* PRODUCTOS */
/* container_productos */

.container_productos {
    @extend .repetitive_features;
  
    height: auto;
    padding-bottom: 20px;

  }

  .espacio_vacio{
    width: 90%;
    height: 2.5rem;
  }

  .text_carousel{
    font-size: $text-medium;
  }