/* FOOTER */

footer {
    background-image: linear-gradient(
      to bottom,
      #363636,
      #474454,
      #575374,
      #686296,
      #7a71b8,
      #7483d1,
      #6996e9,
      #54aaff,
      #00c2ff,
      #00d7ff,
      #08eafd,
      #5ffbf1
    );
    @include flexbox(flex, center, space-around);
  
    padding: $spacing-small 10px;
    border-top: 2px solid $secondary;
    
    .footer {
      &__img {
        max-width: 60px;
        align-items: center;
      }
      &__iframe {
        max: {
          width: 120px;
          height: 70px;
        }
      }
    }
  }